{% extends "ThiktakCoreBundle::layout.html.twig" %}

{% block body %}
<section>
  <header>
    <hgroup>
      <h1>Recherche &quot;<em>{{ search }}</em>&quot; ({{ resultsAll|length }})</h1>
    </hgroup>
  </header>

  <div class="container-fluid">
    <div class="row-fluid">
      <article class="wbox span2">
        <ul>
          {% for result in results %}
            <li>
              <i class="{{ result.icon }}"></i>
              {{ result.name|trans }} ({{ result.datas|length }})
            </li>
          {% endfor %}
        </ul>
      </article>

      <section class="span10">
        <ul class="jordo-search-results">
          {% for r, result in resultsAll %}
            <li class="{{ result.class }}">
              {{ result.render|raw }}
            </li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </div>
</section>
{% endblock %}

{% block stylesheets %}
    <style>
      .jordo-search-results { margin: 0; padding: 0; }
      .jordo-search-results li { margin: 0; padding: 0; list-style-type: none; }
    </style>
{% endblock %}