{% extends "ThiktakCoreBundle::layout.html.twig" %}

{% block menu %}
  {% render "JordoUserBundle:User:menu" %}
{% endblock %}

{% block body %}
<section>
  <header>
    <hgroup>
      <h1>Users</h1>
      <h2>Papiers</h2>
    </hgroup>
    <aside>
      <ul>
        <li><a href="{{ path('user_subscription') }}"><i class="icon-list"></i></a></li>
        <li><a href="{{ path('user_subscription_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a></li>
      </ul>
    </aside>
  </header>

  <article class="wbox">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ entity.state }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ entity.comment }}</td>
            </tr>
        </tbody>
    </table>
  </article>
</section>
{% endblock %}
