{% extends "ThiktakCoreBundle::layout.html.twig" %}

{% block menu %}
  {% render "JordoDocumentBundle:Document:menu" with {path: app.request.get('path')} %}
{% endblock %}

{% block body %}
<section>
  <header>
    <hgroup>
      <h1>Documents</h1>
      <h2>Liste des documents</h2>
      <h3>{{ path }} ({{  entities|length }})</h3>
    </hgroup>
    <aside>
      <ul>
        {% for key, filter in filters %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{ key ~ '.' ~ filter.getSelected() }} &nbsp;
            <span class="caret pull-right"></span>
          </a>
          <ul class="dropdown-menu pull-right">
            {% for item, selected in filter %}
            <li class="{{ selected ? 'active' : null }}">
              <a href="{{ path('document_filter', {type: key, filter: item}) }}">{{ item }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
        <li><a href="{{ path('document_new') }}"><i class="icon-plus"></i></a></li>
      </ul>
    </aside>
  </header>

  <article class="wbox">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th style="width: 150px">Date d'ajout</th>
                <th style="width: 70px">Revision</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                  <a href="{{ path('document', {path: entity.path}) }}" class="muted small pull-right">{{ entity.path }}/</a>
                  <a href="{{ path('document_show', { 'id': entity.id }) }}">
                    {{ entity.title }}
                  </a>
                </td>
                <td>{% if entity.dateAdded %}{{ entity.dateAdded|printDate }}{% endif %}</td>
                <td style="text-align: center; font-size: .75em; line-height: 1em">
                  {{ entity.revision }}<br />
                  <span class="muted">{{ entity.action }}</span>
                </td>
                <td>
                    <span class="label label2-{{ entity.state }}">{{ entity.state|default(' - ') }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </article>
</section>
{% endblock %}