{% extends "ThiktakCoreBundle::layout.html.twig" %}

{% block body %}
<section>
  <header>
    <hgroup>
      <h1>Documents</h1>
      <h2>{{ entity }}</h2>
    </hgroup>
    <aside>
      <ul>
        <li><a href="{{ path('document') }}"><i class="icon-list"></i></a></li>
        <li><a href="{{ path('document_new') }}"><i class="icon-plus"></i></a></li>
        <li><a href="{{ path('document_edit', {id: entity.id}) }}"><i class="icon-edit"></i></a></li>
      </ul>
    </aside>
  </header>

  <article class="wbox">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.dateCreated|printDate }}</td>
            </tr>
            <tr>
                <th>Dateadded</th>
                <td>{{ entity.dateAdded|printDate }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td><a href="{{ path('document', {path: entity.path}) }}">{{ entity.path }}</a></td>
            </tr>
            <tr>
                <th>Par</th>
                <td>{{ entity.user }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ entity.state }}</td>
            </tr>
        </tbody>
    </table>
  </article>

  {% for revision in revisions %}
  <article class="wbox">
    <header>
      <span class="pull-right label">{{ revision.state }}</span>
      <h1><a href="{{ path('document_show', {id: revision.id}) }}">Révision {{ revision.revision }}</a> par {{ revision.user|default('?') }}</h1>
    </header>
    <div class="well">{{ revision.description }}</div>
    {% render "ThiktakCommentBundle:CommentEntity:widget" with {object: 'JordoDocumentBundle:Document', id: revision.id} %}
  </article>
  {% endfor %}

</section>
{% endblock %}