{% extends "ThiktakCoreBundle::layout.html.twig" %}

{% block body %}
<section>
  <header>
    <hgroup>
      <h1>Projets</h1>
      <h2>{{ entity.project }}</h2>
      <h3>Team</h3>
      <h4>{{ entity }}</h4>
    </hgroup>
    <aside>
      <ul>
        <li>
          <a href="{{ path('project') }}"><i class="icon-list"></i></a>
        </li>
        <li>
        <a href="{{ path('project_team', {'project': app.request.get('project')}) }}"><i class="icon-list"></i> Team</a>
        </li>
      </ul>
    </aside>
  </header>

  <article class="wbox">
        <form action="{{ path('project_team_update', {'project': app.request.get('project'), 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            <input type="hidden" name="_method" value="PUT" />
            {{ form_widget(edit_form) }}
            <p>
                <button type="submit">Edit</button>
            </p>
        </form>
  </article>
</section>
{% endblock %}