{% extends "ThiktakCoreBundle::layout.html.twig" %}

{% block menu %}
  {% render "JordoProjectBundle:Project:menu" %}
{% endblock %}

{% set url  = 'https://g.olivares:yh7gtzx@svn.iariss.fr/IARISS/trunk/' ~ entity.path %}
{% set url2 = 'https://svn.iariss.fr/IARISS/trunk/' ~ entity.path %}

{% block body %}
<section>
  <header>
    <hgroup>
      <h1>Projets</h1>
      <h2>Document</h2>
      <h3>{{ entity }}</h3>
    </hgroup>
    <aside>
      <ul>
        <li><a href="{{ path('project_new') }}"><i class="icon-plus"></i></a></li>
      </ul>
    </aside>
  </header>

  <article class="wbox span8">
    <header>
      <h1><a href="{{ url }}">{{ url2 }}</a></h1>
    </header>
    <!--<iframe src="http://docs.google.com/viewer?url={{ url|url_encode }}&amp;embedded=true" height="780" style="width: 100%; border: none;"></iframe>-->
  </article>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateadded</th>
                <td>{{ entity.dateAdded|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ entity.path }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('project_document') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('project_document_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <form action="{{ path('project_document_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
  </article>
</section>
{% endblock %}