    <h1>Filtres</h1>
    <ul class="l1">
      {% for key, filter in filters %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          {{ ('filter.' ~ key ~ '.' ~ filter.getSelected())|trans }}
          <span class="caret pull-right"></span>
        </a>
        <ul class="dropdown-menu pull-right">
          {% for item, selected in filter %}
          <li class="{{ selected ? 'active' : null }}">
            <a href="{{ path('project_filter', {type: key, filter: item}) }}">
              {{ ('filter.' ~ key ~ '.' ~ item)|trans }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>

    <h1><a href="{{ path('project') }}">Tous les projets</a></h1>
    <ul class="l1">
      {% for entity in entities %}
      <li><a href="{{ path('project_show', {id: entity.id}) }}">{{ entity }}</a></li>
      {% endfor %}
    </ul>